body {
    background-color: #282a37;
    /* Color de fondo del tema Abyss */
    color: #e7e7e7;
    /* Color del texto del tema Abyss */
    font-family: 'Bradley Hand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100vh;
}

.aviso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #e7e7e7;
}

.aviso button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e7e7e7;
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Bradley Hand', cursive;
}

.carta {
    max-width: 800px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    background-color: #43475d;
    /* Fondo de la carta */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Sombra para darle profundidad */
    display: none;
}

.mute-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #0c0c0c;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wave {
    width: 6px;
    height: 6px;
    margin: 2px;
    background: #e7e7e7;
    border-radius: 50%;
    animation: wave 1.2s linear infinite;
}

.wave:nth-child(1) {
    animation-delay: 0s;
}

.wave:nth-child(2) {
    animation-delay: 0.4s;
}

.wave:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes wave {

    0%,
    100% {
        transform: scale(0.8);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }
}

audio {
    position: absolute;
    top: -9999px;
}